[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "custom_nodes/comfy_controlnet_preprocessors"]
	path = custom_nodes/comfy_controlnet_preprocessors
	url = https://github.com/Fannovel16/comfy_controlnet_preprocessors.git
[submodule "custom_nodes/ComfyUI-AnimateDiff-Evolved"]
	path = custom_nodes/ComfyUI-AnimateDiff-Evolved
	url = https://github.com/Kosinkadink/ComfyUI-AnimateDiff-Evolved.git
[submodule "custom_nodes/ComfyUI-VideoHelperSuite"]
	path = custom_nodes/ComfyUI-VideoHelperSuite
	url = https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite.git
[submodule "custom_nodes/ComfyUI-Advanced-ControlNet"]
	path = custom_nodes/ComfyUI-Advanced-ControlNet
	url = https://github.com/Kosinkadink/ComfyUI-Advanced-ControlNet.git
