[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "custom_nodes/ComfyUI-AnimateDiff-Evolved"]
	path = custom_nodes/ComfyUI-AnimateDiff-Evolved
	url = https://github.com/Kosinkadink/ComfyUI-AnimateDiff-Evolved.git
[submodule "custom_nodes/ComfyUI-VideoHelperSuite"]
	path = custom_nodes/ComfyUI-VideoHelperSuite
	url = https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite.git
[submodule "custom_nodes/ComfyUI-Advanced-ControlNet"]
	path = custom_nodes/ComfyUI-Advanced-ControlNet
	url = https://github.com/Kosinkadink/ComfyUI-Advanced-ControlNet.git
[submodule "custom_nodes/comfyui_controlnet_aux"]
	path = custom_nodes/comfyui_controlnet_aux
	url = https://github.com/Fannovel16/comfyui_controlnet_aux.git
[submodule "custom_nodes/ComfyUI-Frame-Interpolation"]
	path = custom_nodes/ComfyUI-Frame-Interpolation
	url = https://github.com/Fannovel16/ComfyUI-Frame-Interpolation.git
[submodule "custom_nodes/ComfyUI_FizzNodes"]
	path = custom_nodes/ComfyUI_FizzNodes
	url = https://github.com/FizzleDorf/ComfyUI_FizzNodes.git
[submodule "custom_nodes/ComfyUI-post-processing-nodes"]
	path = custom_nodes/ComfyUI-post-processing-nodes
	url = https://github.com/EllangoK/ComfyUI-post-processing-nodes.git
[submodule "custom_nodes/was-node-suite-comfyui"]
	path = custom_nodes/was-node-suite-comfyui
	url = https://github.com/WASasquatch/was-node-suite-comfyui.git
[submodule "custom_nodes/ComfyUI-Marigold"]
	path = custom_nodes/comfyui_marigold
	url = https://github.com/kijai/ComfyUI-Marigold.git
[submodule "custom_nodes/ComfyUI-3D-Pack"]
	path = custom_nodes/ComfyUI-3D-Pack
	url = https://github.com/MrForExample/ComfyUI-3D-Pack.git
[submodule "custom_nodes/ComfyUI_essentials"]
	path = custom_nodes/ComfyUI_essentials
	url = https://github.com/cubiq/ComfyUI_essentials.git
[submodule "custom_nodes/ComfyUI_IPAdapter_plus"]
	path = custom_nodes/ComfyUI_IPAdapter_plus
	url = https://github.com/cubiq/ComfyUI_IPAdapter_plus.git
[submodule "custom_nodes/ComfyUI-KJNodes"]
	path = custom_nodes/ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes.git
[submodule "custom_nodes/ComfyUI-Impact-Pack"]
	path = custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack.git
[submodule "custom_nodes/ComfyUI_UltimateSDUpscale"]
	path = custom_nodes/ComfyUI_UltimateSDUpscale
	url = https://github.com/ssitu/ComfyUI_UltimateSDUpscale.git
[submodule "custom_nodes/ComfyUI-Inspire-Pack"]
	path = custom_nodes/ComfyUI-Inspire-Pack
	url = https://github.com/ltdrdata/ComfyUI-Inspire-Pack.git
[submodule "custom_nodes/efficiency-nodes-comfyui"]
	path = custom_nodes/efficiency-nodes-comfyui
	url = https://github.com/LucianoCirino/efficiency-nodes-comfyui.git
[submodule "custom_nodes/cg-use-everywhere"]
	path = custom_nodes/cg-use-everywhere
	url = https://github.com/chrisgoringe/cg-use-everywhere.git
[submodule "custom_nodes/comfy-image-saver"]
	path = custom_nodes/comfy-image-saver
	url = https://github.com/giriss/comfy-image-saver.git
